.gallery {
   display: flex;
   flex-direction: column;
   align-items: flex-start;

   div {
      width: 100%;
   }

   .other-message {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }

   .my-message {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }
}
