@import '../../styles/variables.scss';

.gallery {
   display: flex;
   flex-direction: column;
   width: 100%;

   div {
      display: flex;
      flex-direction: column;
      position: relative;
   }

   .other-div-message {
      align-items: flex-start;

      .other-message {
         margin: 10px;
         padding: 10px;
         border-radius: 15px;
         font-size: 14px;
         background-color: $grey-color;
      }
   }

   .my-div-message {
      align-items: flex-end;

      p {
         max-width: 60%;
         word-wrap: break-word; // Permet de casser les mots longs
         word-break: break-word; // Assure que les mots seront cassés au besoin
         white-space: pre-wrap; // Respecte les retours à la ligne dans le texte
         text-align: left;
      }

      .my-message {
         margin: 10px;
         padding: 10px;
         border-radius: 15px;
         font-size: 14px;
         background-color: $blue-color;
         color: $white-color;
      }
   }

   .date {
      align-self: center; // Centre la date horizontalement
      margin: 0 auto 5px auto; // Ajoute une marge en bas pour espacer la date du message
      font-size: 12px; // Ajuste la taille de la police
      color: #999; // Couleur grise pour la date
   }

   .username {
      font-size: 12px;
      color: #666;
      margin-top: 5px; // Ajoute une marge en haut pour espacer le nom d'utilisateur du message
   }
}
